h1, h3 {
    text-align: center;
    color: tomato;
}
table, th {
    border: 2px solid red;
    border-collapse: collapse;
    padding: 5px;
    width: 30%;    
    margin: auto;
}
td {
    text-align: center; 
    border-right: 2px solid red;   
    padding: 1px;
}
.table {
    width: 60%;
}
.table2 {
    border: 2px solid black;
    width: 60%;    
}
.tr2 {
    border: 2px solid black;
    border-right: 2px solid black;
}
caption {
    color: #e63946;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    line-height: 70px;
}