h1 {
    text-align: center;
    color: tomato;
    margin: 15px;
}
p {
    text-align: justify;
    color: cadetblue;
    margin: auto 20px;
    border: 10px solid bisque;
    padding: 10px;
}
body {
    background-color: #1d3557; 
}